/* General Styling Rules */
body{
    background-image: url(images/green-dust-and-scratches.png);
    background-color:#1B0A1D;
    margin:0;
    font-size: .85vw;
    overflow-x: hidden;
    
    /* height: 120vh; */
}
p{
  font-family: 'Jura', sans-serif;
  color: white;
  font-size: 1.8em;
}
h2,
h3,
h4{
  color: white;
  font-family: 'Nova Mono',monospace;
  font-weight: 200;
}
h2{
  width: 100%;
  text-align: center;
  font-size: 5.6em;
  margin-bottom: .2em;
}
nav{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background-color: none;
  width: 100%;
  top: -100vh;
  transition: top 2s, background-color .5s;  
  position: fixed;
}
nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 60%;
}
nav ul>li>a{
  color: #006466;
  font-size: 2.5em;
  font-family: 'Nova Mono', monospace;
  text-decoration: none;
  transition: color 1s,font-size 1.5s;
}
nav ul>li>a:hover{
  color: white;
  font-size: 3em;
}
nav img:hover{
  height: 5em;
  filter:drop-shadow( 0px 0px 10px #ffffff);
}

nav img{
  height: 4em;
  margin-left: 1.5em;
  margin-top: 1em;
  transition: height 2s, filter 2s;
}

footer{
  display: flex;
  justify-content: space-around;
  margin: 0;
  background-color: #212F45;
  margin-top: 30vh;
}
header{
  height: 100vh;
  margin-left:100vw ;
  transition: margin-left 3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;

}
header>h1{
  /* margin-top: 40%; */
  font-size: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: .05px .05em #000000;
  opacity: 0;
  transition: opacity 2s,font-size 3s;
}
footer>ul{
  list-style: none;
  padding: 0;
}
footer>ul>li>a{
  color: white;
  text-decoration: none;
  font-family: 'Jura';
}
footer>div{
  margin-right: 30%;
  width: 10%;
  display: flex;
  flex-direction: column;
}
footer>div>div{
  width: 98px;
  height: 98px;
  border-radius: 98px;
  background-color:#006466;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 16px 1.6px #000000 ;
}
footer img{
  width: 60%;
}
.title-text p{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.title-text{
  margin-bottom: 15em;
}
section{
  width: 60%;
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15em;
}
article{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}
article p{
  display: inline-block;
  width: 100%;
  margin: 0;
}
h3{
  font-size: 3.75em;
  width: 100%;
  margin: 0;

}
article>div{
  width: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* article img{
  border-radius: 40em;
  width: 40%;
  height: 20em;
} */
article div{
  border-radius: 40em;
  width: 40%;
  height: 20em;
}
/* Intro Sequence  */

.interior-hole{
  z-index: 1;
  display: grid;
  place-items: center;
  position:absolute;
  width:100vw;
  height:100vh;
  margin:0 auto;
  overflow:hidden;
  transition: transform 4s;
  
}
.interior-hole:after{
  content:'';
  position:absolute;
  top:auto; 
  border-radius:100%;
  width:62em; height:62em;
  min-width: 300px;
  min-height: 300px;
  max-height: 98%;
  box-shadow: 0px 0px 0px 2000px #505050;
}
.outer-ring{ 
  z-index: 2;
  /* z-index: 0; */
  display: grid;
  place-items: center;
  position:absolute;
  width:100vw;
  height:100vh;
  margin:0 auto;
  overflow:hidden;
  transition: transform 4s;

}
.outer-ring::after{
  content:'';
  position:absolute;
  border-radius:100%;
  width:62em; height:62em;
  min-width: 300px;
  min-height: 300px;
  max-height: 98%;
  box-shadow: 0px 0px 0px 6em #464646 ;
}
.three-lights{
  z-index: 2;
  /* z-index: 100; */
  position: absolute;
  justify-content: space-between;
  display: flex;
  width: 24em;
  min-width: 220px;
  margin-left: 35px;
  margin-top: 10px;
  transition: margin-top 1.5s;
}
/* .glass-panel{
  z-index: 0;
  display: grid;
  place-items: center;
  position:fixed;
  width:63em;
  height:63em;
  min-width: 300px;
  min-height: 300px;
  border-radius: 100%;
  left:auto;  
  overflow : hidden;
  background-color: rgba(255, 255, 255, 0.111);
} */

.glass-panel{ 
  z-index: 0;
  display: grid;
  place-items: center;
  position:fixed;
  width:100vw;
  height:100vh;
  margin:0 auto;
  overflow: hidden;
  transition: bottom 4s;
  bottom:0;
  visibility: visible;
}
.glass-panel::after{
  content:'';
  position:absolute;
  border-radius:100%;
  width:62em; height:62em;
  min-width: 300px;
  min-height: 300px;
  max-height: 98%;
  box-shadow: inset 0px 0px 0px 200em #ffffff35 ;
}

.light{
  background-color: #E60000;
  height: 7em;
  width: 7em;
  min-height: 90px;
  min-width: 90px;
  border-radius: 100px;
  box-shadow:  0px 0px 20px 1.5em #ff000035 ;
  transition: background-color 1s;
}
.tube{
  z-index: 2;
  position: fixed;
  bottom: calc( (16vw - 350px)*1.8);
  max-width: 100%;
  right: 0;
  transition: marign-right 2.5s;
  margin-right: 0;
}
.rail{
  z-index: 3;
  position: fixed;
  max-width: 100%;
  width: 80px;
  bottom: 200px;
  left: calc( (16vw - 150px)/.9);
  transition: marign-left 2.5s;
  margin-left: 1;
}
.space-lever{
  z-index: 2;
  background-color: #767676;
  position: absolute;
  width: 100px;
  height: 160px;
  top: calc( (16vw - 400px)*-1.9);
  left: 10vw;
  transition: marign-left 2.5s;
  margin-left: 1;
} 
.space-lever:hover{
  transition: all 2s;
  box-shadow:  0px 0px 10px 6px #ffffffd2 ;
  cursor:pointer;
}
.space-lever>div{
  background-color: #515151;
  width: 50%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66%;
}
.shaft{
  background-color: #656565;
  height: 67.5px;
  /* margin-bottom: auto;*/
  width: 15%;
  position: absolute;
  left: 42%;
  bottom:37.5px;
  transition: height .2s, bottom .2s;
  
}
.handle{
  background-color: #900000;
  width: 60%;
  height: 15px;
  left: 20%;
  bottom: 105px;
  position: absolute;
  transition: bottom .2s;

}
.load{
  position: fixed;
  transition: transform 2s;
  /* visibility: visible; */

  transform: scale(none);
  margin-top: 0px;
  margin-right: 100vh;
}
/* Homepage */

/* font-family: 'Jura', sans-serif;
font-family: 'Nova Mono', monospace; */
h1{
  margin: 0;
  color: white;
  font-size: 15em; 
  cursor: default;
  font-family: 'Nova Mono', monospace;
  font-weight: 10;
}
.first{
  top: calc( (16vw - 400px)*-.9);
  position: absolute;
  right: 100%;  
  width: 100%;
  /* top:1em; */
  transition: right 2s;
  text-align: left;

}
.last{
  position: absolute;
  /* top: 1.5em; */
  top:40vh;
  left: 100%;
  width: 100%;
  text-align: right;
  transition: left 2s ;
}

.arrow{
  width: 8em;
  min-width: 80px;
  /* width: 10vw; */
  margin-left: 43.5vw;
  margin-top: 120vh;
  animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  transition: opacity .5s,margin-top 2s,visibility .1s;
  opacity: 1;
}
.arrow:hover{
  cursor:pointer;

}


@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 3em); }
  100%   { transform: translate(0, -0px); }   
}



/* About Me Page */

/* Portfolio Page */
.three-links{
  height: 100vh;
  width: 100vw;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: scale(-1, 1);
}
.trapezoid{
  /* position: relative; */
    width: 60vw;
    height: 100%;
    transform: skew(40deg);
}
.portfolio-links{
  height: 25%;
  display: flex;
  overflow: hidden;
}
.work-type-name{
  background-color: #0064664d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-type-name h2{
  text-align: center;
  margin: 0;
  position: absolute;
  transform: skew(-40deg);
}
.portfolio-links>a>div{
  background-size: 10%;
  background-position: center;
  background-repeat: no-repeat;

}
/* Resume Page */

/* Contact Me Page */


/* Gallery Pages  */


/* Mobile/tablet Website changes */
@media (max-width:870px){
  .last{
    /* top:3em; */
  }
  .first{
    top:30vh;
  }
  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10em); }
    100%   { transform: translate(0, -0px); }   
  }
}
@media (max-height:700px){
  .first{
    top: 5vh;
  } 
}