/* General Styling Rules */
body{
    background-image: url(images/green-dust-and-scratches.png);
    background-color:#1B0A1D;
    margin:0;
    font-size: .85vw;
    
}
p{
  font-family: 'Jura', sans-serif;
}

/* Intro Sequence  */

.interior-hole{
  z-index: 1;
  display: grid;
  place-items: center;
  position:absolute;
  width:100vw;
  height:100vh;
  margin:0 auto;
  overflow:hidden;
  transition: transform 4s;
  
}
.interior-hole:after{
  content:'';
  position:absolute;
  top:auto; 
  border-radius:100%;
  width:62em; height:62em;
  min-width: 300px;
  min-height: 300px;
  max-height: 98%;
  box-shadow: 0px 0px 0px 2000px #505050;
}
.outer-ring{ 
  z-index: 2;
  /* z-index: 0; */
  display: grid;
  place-items: center;
  position:absolute;
  width:100vw;
  height:100vh;
  margin:0 auto;
  overflow:hidden;
  transition: transform 4s;

}
.outer-ring::after{
  content:'';
  position:absolute;
  border-radius:100%;
  width:62em; height:62em;
  min-width: 300px;
  min-height: 300px;
  max-height: 98%;
  box-shadow: 0px 0px 0px 6em #464646 ;
}
.three-lights{
  z-index: 2;
  /* z-index: 100; */
  position: absolute;
  justify-content: space-between;
  display: flex;
  width: 24em;
  min-width: 220px;
  margin-left: 35px;
  margin-top: 10px;
  transition: margin-top 1.5s;
}
/* .glass-panel{
  z-index: 0;
  display: grid;
  place-items: center;
  position:fixed;
  width:63em;
  height:63em;
  min-width: 300px;
  min-height: 300px;
  border-radius: 100%;
  left:auto;  
  overflow : hidden;
  background-color: rgba(255, 255, 255, 0.111);
} */

.glass-panel{ 
  z-index: 0;
  display: grid;
  place-items: center;
  position:fixed;
  width:100vw;
  height:100vh;
  margin:0 auto;
  overflow: hidden;
  transition: bottom 4s;
  bottom:0;
}
.glass-panel::after{
  content:'';
  position:absolute;
  border-radius:100%;
  width:62em; height:62em;
  min-width: 300px;
  min-height: 300px;
  max-height: 98%;
  box-shadow: inset 0px 0px 0px 40em #ffffff35 ;
}

.light{
  background-color: #E60000;
  height: 7em;
  width: 7em;
  min-height: 90px;
  min-width: 90px;
  border-radius: 100px;
  box-shadow:  0px 0px 20px 1.5em #ff000035 ;
  transition: background-color 1s;
}
.tube{
  z-index: 2;
  position: fixed;
  bottom: calc( (16vw - 350px)*1.8);
  max-width: 100%;
  right: 0;
  transition: marign-right 2.5s;
  margin-right: 0;
}
.rail{
  z-index: 3;
  position: fixed;
  max-width: 100%;
  width: 80px;
  bottom: 200px;
  left: calc( (16vw - 150px)/.9);
  transition: marign-left 2.5s;
  margin-left: 1;
}
.space-lever{
  z-index: 2;
  background-color: #767676;
  position: absolute;
  width: 100px;
  height: 160px;
  top: calc( (16vw - 400px)*-1.9);
  left: 10vw;
  transition: marign-left 2.5s;
  margin-left: 1;
} 
.space-lever:hover{
  transition: all 2s;
  box-shadow:  0px 0px 10px 6px #ffffffd2 ;
  cursor:pointer;
}
.space-lever>div{
  background-color: #515151;
  width: 50%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66%;
}
.shaft{
  background-color: #656565;
  height: 67.5px;
  /* margin-bottom: auto;*/
  width: 15%;
  position: absolute;
  left: 42%;
  bottom:37.5px;
  transition: height .2s, bottom .2s;
  
}
.handle{
  background-color: #900000;
  width: 60%;
  height: 15px;
  left: 20%;
  bottom: 105px;
  position: absolute;
  transition: bottom .2s;

}
.load{
  position: fixed;
  transition: transform 2s;
  /* visibility: visible; */

  transform: scale(none);
  margin-top: 0px;
  margin-right: 100vh;
}
/* Homepage */

/* font-family: 'Jura', sans-serif;
font-family: 'Nova Mono', monospace; */
h1{
  margin: 0;
  color: white;
  font-size: 15em; 

  font-family: 'Nova Mono', monospace;
  font-weight: 10;
}
.first{

  transition: margin-right 2s;  
  margin-right: 1000em;
}
.last{
  transition: margin-left 2s;
  
}



/* About Me Page */

/* Portfolio Page */

/* Resume Page */

/* Contact Me Page */